<div class="container">
    <table class="table table-bordered">
      <thead class="table-light">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Salary</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let user of userDetails">
          <td>{{ user.userId }}</td>
          <td>{{ user.userName }}</td>
          <td>{{ user.userSalary }}</td>
          <td>{{ user.userEmail }}</td>
          <td>{{ user.userContactNo }}</td>
        </tr>
      </tbody>
    </table>
    <router-outlet></router-outlet>
  </div>
  