.main-container {
    width: 450px;
    background-color: lightgray;
    padding: 10px;
    margin-left: 400px;
    margin-top: 20px;
  }
  .btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
  }
  .buttons {
    width: 140px;
    height: 35px;
  }
  .form-group {
    margin-bottom: 8px;
  }
  h6 {
    margin-left: 400px;
  }
  